@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300italic,900italic,900,700italic,700,400italic,300);

@mixin nocenter(){
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

@mixin center(){
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


@mixin divisor(){
  position: absolute;
  height: 3px;
}

@mixin overlay(){
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.carrusel_productos {
  .owl-item {
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    -o-transform: scale(.75);
    transform: scale(.75);
    opacity: 0.5;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    transition: transform 0.5s ease;
    &.center {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
  }
  .owl-prev{
    background-color: transparent !important;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    .prev{
      background-image: url("img/arrowleftrosa.png");
      width: 50px;
      height: 50px;
    }
  }
  .owl-next{
    background-color: transparent !important;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    .next{
      background-image: url("img/arrowrightrosa.png");
      width: 50px;
      height: 50px;
    }
  }
}

.site-header{
  position: fixed;
  z-index: 999;
  background: rgba(0,0,0,0.5);
  @media screen and (min-width: 320px) and (max-width: 840px) {
    height: 100px;
  }
  .menu-button {
    display: none;
    @media screen and (min-width: 320px) and (max-width: 840px) {
      display: block;
      width: 20px;
      position: inherit;
      margin-top: 30px;
      z-index: 9999;
    }
    &:after{
      background-color: white;
      content: '';
      display: block;
      height: 3px;
      transition: all 200ms ease-in-out;
    }
    &:before{
      background-color: white;
      content: '';
      display: block;
      height: 3px;
      box-shadow: 0 6px 0 white;
      margin-bottom: 9px;
      transition: all 200ms ease-in-out;
    }
    &.active{
      &:before {
        box-shadow: 0 0 0 #fff;
        transform: translateY(5px) rotate(45deg);
      }
      &:after{
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }
  .site-branding{
    padding-top: 20px;
    padding-bottom: 20px;
    @media screen and (min-width: 320px) and (max-width: 840px) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
    }
    img{
      width: 70px;
    }
  }
  .main-navigation{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    @media screen and (min-width: 320px) and (max-width: 840px) {
      position: absolute;
      left: -100%;
    }
    &.visible{
      top: 50%;
      left: 50%;
      transform: translate(-50% ,-50%);
      -webkit-transform: translate(-50% ,-50%);
      -moz-transform: translate(-50% ,-50%);
      -ms-transform: translate(-50% ,-50%);
      position: fixed;
    }
    ul{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      @media screen and (min-width: 320px) and (max-width: 840px) {
        position: relative;
        left: 0;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        z-index: 99999;
      }
      li{
        @media screen and (min-width: 320px) and (max-width: 840px) {
          display: block;
          padding: 10px;
        }
        a{
          color: #fff !important;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          font-size: 18px;
          @media screen and (min-width: 320px) and (max-width: 840px) {
            font-size: 24px;
          }
        }
        ul{
          display: none;
          margin-left: 0px;
        }
       &:hover{
         ul {
           display: block;
           position: absolute;
           background: rgba(0,0,0,0.5);
           top: 35px;
           @media screen and (min-width: 320px) and (max-width: 840px) {
             position: relative;
             top: inherit;
             background-color: transparent;
           }
           li {
             list-style: none;
             padding: 10px;
             @media screen and (min-width: 320px) and (max-width: 840px) {
               text-align: center;
             }
             a {
               color: #fff !important;
               font-family: 'Lato', sans-serif;
               font-weight: 400;
               font-size: 18px;
               @media screen and (min-width: 320px) and (max-width: 840px) {
                 font-size: 14px;
                 text-align: center;
               }
             }
           }
         }
       }
      }
    }
  }
  .redes {
    padding-top: 20px;
    padding-bottom: 20px;
    @media screen and (min-width: 320px) and (max-width: 840px) {
      display: none;
    }
    &.mostrar{
      position: fixed;
      bottom: -20px;
      background: rgba(0, 0, 0, 0.5);
      padding-right: 0px;
      padding-left: 0px;
      padding-top: 0px;
      left: 0;
      display: block;

    }
    .iconos {
      .glyph-icon {
        display: inline;
        &:before {
          color: #fff;
          font-size: 30px;
        }
      }
    }
  }
  .iconredes{
    display: none;
    @media screen and (min-width: 320px) and (max-width: 840px) {
      display: block;
      position: absolute;
      top: 30px;
      right: 10px;

    }
  }
}

.site-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
  .portada {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (min-width: 320px) and (max-width: 640px) {
      height: auto;
      padding-top: 40%;
    }
    @media screen and (max-height: 700px) {
      height: auto;
      padding-top: 40%;
    }
    .overlay{
      @include overlay();
      @media screen and (max-height: 700px) {
        position: fixed;
      }
    }
    .center {
      @include center();
      @media screen and (min-width: 320px) and (max-width: 640px) {
       @include nocenter();
      }
      .titulos {
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 10px;
      }
      .contenido{
        margin-top: 20px;
        margin-bottom: 40px;
        p {
          color: #fff;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          font-size: 22px;
          text-align: center;
        }
      }
      .more_information{
        border: 1px solid #8AD30B;
        padding: 15px;
        border-radius: 30px;
        width: 40%;
        margin: 0 auto;
        color:#8AD30B;
        text-transform: uppercase;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        letter-spacing: 5px;
        @media screen and (min-width: 320px) and (max-width: 640px) {
          width: 100%;
        }
        @media screen and (min-width: 641px) and (max-width: 1024px) {
          width: 60%;
        }
      }
    }
    .down{
      position: absolute;
      bottom: 20px;
      text-align: center;
      width: 100%;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        display: none;
      }
      img{
        width: 30px;
        max-width: 50px;
        min-width: 30px;
      }
    }
  }
  .paquetes_home{
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    overflow: hidden;
    background-image: url('img/killarney.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .overlay {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(left,  rgba(112,28,142,0.7) 0%, rgba(252,60,111,0.7) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(112,28,142,0.7) 0%,rgba(252,60,111,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(112,28,142,0.7) 0%,rgba(252,60,111,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3701c8e', endColorstr='#b3fc3c6f',GradientType=1 ); /* IE6-9 */

    }
    .contenedor_info{
      position: inherit;
      .titulo{
      text-align: left;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 10px;
    }
    .divisor{
      @include divisor();
      background-color: #fff;
      width: 2%;
      z-index: 999;
    }
      .paquete {
        margin-top: 40px;
        @media screen and (min-width: 1024px) and (max-width: 1200px) {
          width: 50% !important;
        }
        .imgpaguete {
          width: 300px;
          height: 300px;
          margin: 0 auto;
          border-radius: 50%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          border: 2px solid #fff;
        }
        .titulo_paquetes {
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          text-transform: uppercase;
          color: #fff;
          margin-top: 30px;
          letter-spacing: 10px;
        }
      }
    }
  }
  .paquetesmasinfo{
    background-color: #FF365F;
    padding: 40px;
    height: auto;
    overflow: hidden;
    .btnmore{
      border: 1px solid #fff;
      border-radius: 30px;
      padding: 10px;
      width: 20%;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 5px;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        width: 100%;
      }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        width: 60%;
      }

    }
  }
  .productos_home{
    background-color: #fff;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    overflow: hidden;
    .titulo{
      text-align: left;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      letter-spacing: 10px;
    }
    .divisor{
      @include divisor();
      background-color: #8AD30B;
      width: 2%;
      z-index: 999;
    }
    .contenido{
      width: 100%;
      height: 100%;
      margin-top: 40px;
      margin-bottom: 40px;
      .item{
        .portada_producto{
          background-position: center center;
          background-repeat: no-repeat;
          width: 300px;
          height: 500px;
          margin: 0 auto;
        }
        .titulo_shot{
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          text-align: center;
        }
        p{
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          text-align: center;
          font-size: 20px;
        }

        /*&.visible{
           float: left;
           padding-left: .9375rem;
           padding-right: .9375rem;
         }
        &.invisible{
          width: 19%;
          display: none;
          padding-left: .9375rem;
          padding-right: .9375rem;
        }
        &.left1{
          left: 50%;
          transform: translateX(-250%);
          -webkit-transform: translateX(-250%);
          -ms-transform: translateX(-250%);
          opacity: 0.5;
        }
        &.left2{
          left: 50%;
          transform: translateX(-150%);
          -webkit-transform: translateX(-150%);
          -ms-transform: translateX(-150%);
          opacity: 0.5;
        }
        &.center{
          left: 50%;
          transform: translateX(-50%);
        }
        &.right1{
          left: 50%;
          transform: translateX(50%);
          -webkit-transform: translateX(50%);
          -ms-transform: translateX(50%);
          opacity: 0.5;
        }
        &.right2{
          left: 50%;
          transform: translateX(150%);
          -webkit-transform: translateX(150%);
          -ms-transform: translateX(150%);
          opacity: 0.5;
        }*/
      }
      .navleft{
        position: absolute;
        left: 10%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .navright{
        position: absolute;
        right: 10%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }

  .galeria_home{
    height: auto;
    overflow: hidden;
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background: rgb(25,125,0); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(25,125,0,1) 0%, rgba(138,211,11,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(25,125,0,1) 0%,rgba(138,211,11,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(25,125,0,1) 0%,rgba(138,211,11,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#197d00', endColorstr='#8ad30b',GradientType=1 ); /* IE6-9 */

    .titulo{
      text-align: left;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 10px;
    }
    .divisor{
      position: absolute;
      height: 3px;
      background-color: #8AD30B;
      width: 2%;
      z-index: 999;
    }
    .contenido{
      margin-top: 40px;
      margin-bottom: 40px;
      height: 100%;
      overflow: hidden;
      ::-webkit-scrollbar{
        width: 5px;
        background: #ddd;
      }

      ::-webkit-scrollbar-thumb {
        background: #444;
        cursor: pointer;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: rgba(150,150,150,0.8);
        cursor: pointer;
      }
      .contenedor_gal{
        height: 100vh;
        overflow-y: scroll;
        @media screen and (min-width: 320px) and (max-width: 640px) {
          height: auto;
          overflow: hidden;
        }
        .itemgal{
          position: relative;
          .imggaleria{
            height: 300px;
            margin-bottom: 30px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          }
        }
      }
      .imggrande{
        height: 100vh;
        background-size: cover !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        @media screen and (min-width: 320px) and (max-width: 640px) {
          display: none;
        }
      }
    }
  }

  .contacto_home{
    .info_contactohome{
      position: relative;
      background-color: #000000;
      height: 700px;
      .titulo{
        text-align: left;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        padding-left: 9%;
        padding-top: 5%;
        letter-spacing: 10px;
      }
      .divisor{
        @include divisor();
        background-color: #fff;
        width: 3%;
        z-index: 999;
        margin-left: 9%;
      }
      .btnbotoncontactohome{
        border: 1px solid #fff;
        padding: 15px;
        border-radius: 30px;
        width: 40%;
        text-align: center;
        @include center();
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 5px;
        @media screen and (min-width: 320px) and (max-width: 640px) {
          width: 90%;
        }
        @media screen and (min-width: 641px) and (max-width: 1024px) {
          width: 60%;
        }
      }
    }
    .mapacontacto{
      height: 700px;
    }
  }
  .ordenashots{
    background-image: url("img/fondoki.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 5%;
    position: relative;
    height: auto;
    overflow: hidden;
    .overlay{
      @include overlay();
    }
    .titulo{
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: inherit;
      letter-spacing: 10px;
    }
    .btnordenatusshots{
      border: 2px solid #8AD30B;
      width: 30%;
      margin: 0 auto;
      text-align: center;
      position: inherit;
      padding: 15px;
      border-radius: 30px;
      margin-top: 20px;
      position: inherit;
      color: #fff;
      text-transform: uppercase;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 5px;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        width: 100%;
      }
    }
  }
  .nosotros{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    padding: 7%;
    @media screen and (min-width: 320px) and (max-width: 640px) {
      height: auto;
      padding-top: 40%;
    }
    @media screen and (max-height: 700px) {
      height: auto;
      overflow: hidden;
    }
    .overlay{
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#701c8e+0,fc3c6f+100&0.5+0,0.5+100 */
      background: -moz-linear-gradient(left,  rgba(112,28,142,0.7) 0%, rgba(252,60,111,0.7) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(112,28,142,0.7) 0%,rgba(252,60,111,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(112,28,142,0.7) 0%,rgba(252,60,111,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80701c8e', endColorstr='#80fc3c6f',GradientType=1 ); /* IE6-9 */
    }
    .titulo{
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: inherit;
      letter-spacing: 10px;
    }
    .contenido{
      position: inherit;
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2;
      -webkit-column-gap: 100px; /* Chrome, Safari, Opera */
      -moz-column-gap: 100px; /* Firefox */
      column-gap: 100px;
      @include center();
      width: 80%;
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        @include nocenter();
        width: 100%;
      }
      @media screen and (max-height: 700px) {
        @include nocenter();
        width: 100%;
      }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        @include nocenter();
        width: 100%;
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
        -moz-column-gap: 0px; /* Firefox */
        column-gap: 0px;
      }
      @media screen and (max-height: 700px) {
        @include nocenter();
        width: 100%;
      }
      p{
        color: #fff;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
      }
    }
  }
  .paquetes {
    height: auto;
    position: relative;
    padding: 7%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @media screen and (min-width: 320px) and (max-width: 640px) {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 40%;
      padding-bottom: 20%;
    }
    .overlay {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(left, rgba(138, 211, 11, 0.7) 0%, rgba(138, 211, 11, 0.7) 1%, rgba(25, 125, 0, 0.7) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(138, 211, 11, 0.7) 0%, rgba(138, 211, 11, 0.7) 1%, rgba(25, 125, 0, 0.7) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(138, 211, 11, 0.7) 0%, rgba(138, 211, 11, 0.7) 1%, rgba(25, 125, 0, 0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b38ad30b', endColorstr='#b3197d00', GradientType=1); /* IE6-9 */

    }
    .carrusel_paquetes {
      .titulo_paquetes {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: inherit;
        letter-spacing: 10px;
        margin-bottom: 5%;
      }
      .imgpaguete {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 300px;
        width: 80%;
        margin: 0 auto;
      }
      .descripcion {
        padding-top: 5%;
        padding-bottom: 5%;
        margin: 0 auto;
        width: 80%;
        p {
          font-size: 18px;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          color: #fff;
        }
      }
      .btn_solicitar{
        border-radius: 30px;
        border: 1px solid #fff;
        width: 20%;
        margin: 0 auto;
        text-align: center;
        padding: 15px;
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-size: 18px;
        @media screen and (min-width: 320px) and (max-width: 640px) {
          width: 90% !important;
          margin-bottom: 10px;
        }
        @media screen and (min-width: 641px) and (max-width: 1024px) {
          width: 60%;
          margin-bottom: 10px;
        }
      }
    }
    .owl-prev{
      background-color: transparent !important;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      @media screen and (min-width: 320px) and (max-width: 640px) {
        display: none !important;
      }
      .prev {
        background-image: url("img/arrowleft.png");
        width: 50px;
        height: 50px;
      }
    }
    .owl-next{
      background-color: transparent !important;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      @media screen and (min-width: 320px) and (max-width: 640px) {
        display: none !important;
      }
      .next{
        background-image: url("img/arrowright.png");
        width: 50px;
        height: 50px;
      }
    }
  }
  .contacto{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    padding: 7%;
    @media screen and (min-width: 320px) and (max-width: 640px) {
      height: auto;
      overflow: hidden;
    }
    @media screen and (max-height: 700px) {
      height: auto;
      overflow: hidden;
    }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 40%;
      padding-bottom: 20%;
    }
    .overlay{
      @include overlay();
    }
    .titulo{
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: inherit;
      letter-spacing: 10px;
    }
    .contenido {
      @include center();
      margin-top: 40px;
      width: 80%;
      @media screen and (min-width: 320px) and (max-width: 640px) {
        @include nocenter();
        width: 100%;
    }
      @media screen and (max-height: 700px) {
        @include nocenter();
        width: 100%;
      }
      .datos_contacto {
        h3 {
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          color: #fff;
        }
        p {
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          color: #fff;
        }
        #pony{
          height: 200px;
        }
      }
      .form_contacto{
        br{
          display: none;
        }
        label{
          color: #fff;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          font-size: 18px;
          text-transform: uppercase;
        }
        .wpcf7-submit{
          background-color: transparent;
          border: 2px solid #fff;
          padding: 10px;
          color: #fff;
          text-transform: uppercase;
          width: 40%;
          border-radius: 30px;
        }
      }
    }
  }
  .productos{
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 7%;
    background-color: #E7E7E7;
    @media screen and (min-width: 320px) and (max-width: 640px) {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 40%;
      padding-bottom: 20%;
      height: auto;
    }
    @media screen and (max-height: 700px) {
      height: auto;
      overflow: hidden;
    }
    .titulo{
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      text-align: center;
      position: inherit;
      letter-spacing: 10px;
    }
    .contenido{
      margin-top: 40px;
      margin-bottom: 40px;
      @include center();
      width: 70%;
      @media screen and (min-width: 640px) and (max-width: 1024px) {
        width: 100%;
      }
      @media screen and (max-height: 700px) {
        width: 100%;
        @include nocenter();
      }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        width: 100%;
        @include nocenter();
      }
      .shots{
        .portada{
          border-radius: 50%;
          border: 10px solid rgba(0,0,0,0.5);
          width: 300px;
          height: 300px;
          margin: 0 auto;
          position: relative;
          @media screen and (min-width: 320px) and (max-width: 640px) {
            padding-top: 0px;
          }
          @media screen and (max-height: 700px) {
            padding-top: 0px;
          }
          img{
            border-radius: 50%;
            border: 5px solid #009245;
            width: 300px;
            height: 280px;
          }
          p{
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            margin-top: 0px;
            color: #fff;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 22px;
            text-transform: uppercase;
            width: 100%;
          }
        }
        p{
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          color: #000;
          padding-left: 10%;
          padding-right: 10%;
          margin-top: 40px;
        }
      }
      .jelly_shots{
        .portada{
          border-radius: 50%;
          border: 10px solid rgba(0,0,0,0.5);
          width: 300px;
          height: 300px;
          margin: 0 auto;
          position: relative;
          @media screen and (min-width: 320px) and (max-width: 640px) {
            padding-top: 0px;
          }
          @media screen and (max-height: 700px) {
            padding-top: 0px;
          }
          img{
            border-radius: 50%;
            border: 5px solid #009245;
            width: 300px;
            height: 280px;
          }
          p{
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            margin-top: 0px;
            color: #fff;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 22px;
            text-transform: uppercase;
            width: 100%;
          }
        }
        p{
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          color: #000;
          padding-left: 10%;
          padding-right: 10%;
          margin-top: 40px;
        }
      }
      .solicitar{
        border: 1px solid #FF365F;
        border-radius: 30px;
        padding: 15px;
        width: 40%;
        margin: 0 auto;
        text-align: center;
        margin-top: 40px;
        color: #FF365F;
        text-transform: uppercase;
        font-size: 20px;
      }
    }
  }
  .galeria{
    height: auto;
    overflow: hidden;
    position: relative;
    padding: 7%;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 10%;
    padding-right: 10%;
    @media screen and (min-width: 320px) and (max-width: 640px) {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 40%;
      padding-bottom: 0px;
    }
    .titulo {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      text-align: center;
      position: inherit;
      letter-spacing: 10px;
    }
    .contenido{
        margin-top: 40px;
        margin-bottom: 40px;
        height: 100%;
        overflow: hidden;

      ::-webkit-scrollbar{
        width: 5px;
        background: #ddd;
      }

      ::-webkit-scrollbar-thumb {
        background: #444;
        cursor: pointer;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: rgba(150,150,150,0.8);
        cursor: pointer;
      }

      .imggrande{
        height: 100vh;
        background-size: cover !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        @media screen and (min-width: 320px) and (max-width: 640px) {
          display: none;
        }
      }
      .contenedor_gal{
        height: 100vh;
        overflow-y: scroll;
        @media screen and (min-width: 320px) and (max-width: 640px) {
          height: auto;
          overflow: hidden;
          width: 100%;
        }
        .itemgal {
          position: relative;
          &.activo{
            .overlay{
              position: absolute;
              right: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: -moz-linear-gradient(left, rgba(138, 211, 11, 0.7) 0%, rgba(138, 211, 11, 0.7) 1%, rgba(25, 125, 0, 0.7) 100%);
              background: -webkit-linear-gradient(left, rgba(138, 211, 11, 0.7) 0%, rgba(138, 211, 11, 0.7) 1%, rgba(25, 125, 0, 0.7) 100%);
              background: linear-gradient(to right, rgba(138, 211, 11, 0.7) 0%, rgba(138, 211, 11, 0.7) 1%, rgba(25, 125, 0, 0.7) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b38ad30b', endColorstr='#b3197d00', GradientType=1);
            }
          }
          .imggaleria {
            height: 300px;
            margin-bottom: 30px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          }
        }
      }
    }
  }
  .shot{
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 7%;
    background-color: #E7E7E7;
    .imgportda{
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 300px;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 40px;
    }
    .titulo{
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      text-align: center;
      position: inherit;
      letter-spacing: 10px;
    }
    .contenido{
      position: inherit;
      width: 80%;
      margin: 0 auto;
      @include center();
      margin-top: 40px;
      p{
        color: #000;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
      }
      .btn_solicitar{
        border-radius: 30px;
        border: 1px solid #FF365F;
        width: 20%;
        margin: 0 auto;
        text-align: center;
        padding: 15px;
        color: #FF365F;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 40px;
        @media screen and (min-width: 320px) and (max-width: 640px) {
          width: 90% !important;
        }
      }
    }
  }
  .jellyshot{
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 7%;
    background-color: #E7E7E7;
    .imgportda{
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 300px;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 40px;
    }
    .titulo{
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      text-align: center;
      position: inherit;
      letter-spacing: 10px;
    }
    .contenido{
      position: inherit;
      width: 80%;
      margin: 0 auto;
      @include center();
      margin-top: 40px;
      p{
        color: #000;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
      }
      .btn_solicitar{
        border-radius: 30px;
        border: 1px solid #FF365F;
        width: 20%;
        margin: 0 auto;
        text-align: center;
        padding: 15px;
        color: #FF365F;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 40px;
        @media screen and (min-width: 320px) and (max-width: 640px) {
          width: 90% !important;
        }
      }
    }
  }
}

.overlay-footer{
  opacity: 0;
  transition: all 200ms ease-in-out;
  &.activo{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 1;
    z-index: 99;
  }
}

.site-footer{
  background-color: #1E1E1E;
  padding: 20px;
  p{
    color: #555555;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
}