@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300italic,900italic,900,700italic,700,400italic,300);
.carrusel_productos .owl-item {
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -o-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.5;
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  transition: transform 0.5s ease; }
  .carrusel_productos .owl-item.center {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
.carrusel_productos .owl-prev {
  background-color: transparent !important;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%); }
  .carrusel_productos .owl-prev .prev {
    background-image: url("img/arrowleftrosa.png");
    width: 50px;
    height: 50px; }
.carrusel_productos .owl-next {
  background-color: transparent !important;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%); }
  .carrusel_productos .owl-next .next {
    background-image: url("img/arrowrightrosa.png");
    width: 50px;
    height: 50px; }

.site-header {
  position: fixed;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5); }
  @media screen and (min-width: 320px) and (max-width: 840px) {
    .site-header {
      height: 100px; } }
  .site-header .menu-button {
    display: none; }
    @media screen and (min-width: 320px) and (max-width: 840px) {
      .site-header .menu-button {
        display: block;
        width: 20px;
        position: inherit;
        margin-top: 30px;
        z-index: 9999; } }
    .site-header .menu-button:after {
      background-color: white;
      content: '';
      display: block;
      height: 3px;
      transition: all 200ms ease-in-out; }
    .site-header .menu-button:before {
      background-color: white;
      content: '';
      display: block;
      height: 3px;
      box-shadow: 0 6px 0 white;
      margin-bottom: 9px;
      transition: all 200ms ease-in-out; }
    .site-header .menu-button.active:before {
      box-shadow: 0 0 0 #fff;
      transform: translateY(5px) rotate(45deg); }
    .site-header .menu-button.active:after {
      transform: translateY(-7px) rotate(-45deg); }
  .site-header .site-branding {
    padding-top: 20px;
    padding-bottom: 20px; }
    @media screen and (min-width: 320px) and (max-width: 840px) {
      .site-header .site-branding {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%); } }
    .site-header .site-branding img {
      width: 70px; }
  .site-header .main-navigation {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px; }
    @media screen and (min-width: 320px) and (max-width: 840px) {
      .site-header .main-navigation {
        position: absolute;
        left: -100%; } }
    .site-header .main-navigation.visible {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      position: fixed; }
    .site-header .main-navigation ul {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%); }
      @media screen and (min-width: 320px) and (max-width: 840px) {
        .site-header .main-navigation ul {
          position: relative;
          left: 0;
          transform: translateX(0%);
          -webkit-transform: translateX(0%);
          -moz-transform: translateX(0%);
          -ms-transform: translateX(0%);
          z-index: 99999; } }
      @media screen and (min-width: 320px) and (max-width: 840px) {
        .site-header .main-navigation ul li {
          display: block;
          padding: 10px; } }
      .site-header .main-navigation ul li a {
        color: #fff !important;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 18px; }
        @media screen and (min-width: 320px) and (max-width: 840px) {
          .site-header .main-navigation ul li a {
            font-size: 24px; } }
      .site-header .main-navigation ul li ul {
        display: none;
        margin-left: 0px; }
      .site-header .main-navigation ul li:hover ul {
        display: block;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        top: 35px; }
        @media screen and (min-width: 320px) and (max-width: 840px) {
          .site-header .main-navigation ul li:hover ul {
            position: relative;
            top: inherit;
            background-color: transparent; } }
        .site-header .main-navigation ul li:hover ul li {
          list-style: none;
          padding: 10px; }
          @media screen and (min-width: 320px) and (max-width: 840px) {
            .site-header .main-navigation ul li:hover ul li {
              text-align: center; } }
          .site-header .main-navigation ul li:hover ul li a {
            color: #fff !important;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 18px; }
            @media screen and (min-width: 320px) and (max-width: 840px) {
              .site-header .main-navigation ul li:hover ul li a {
                font-size: 14px;
                text-align: center; } }
  .site-header .redes {
    padding-top: 20px;
    padding-bottom: 20px; }
    @media screen and (min-width: 320px) and (max-width: 840px) {
      .site-header .redes {
        display: none; } }
    .site-header .redes.mostrar {
      position: fixed;
      bottom: -20px;
      background: rgba(0, 0, 0, 0.5);
      padding-right: 0px;
      padding-left: 0px;
      padding-top: 0px;
      left: 0;
      display: block; }
    .site-header .redes .iconos .glyph-icon {
      display: inline; }
      .site-header .redes .iconos .glyph-icon:before {
        color: #fff;
        font-size: 30px; }
  .site-header .iconredes {
    display: none; }
    @media screen and (min-width: 320px) and (max-width: 840px) {
      .site-header .iconredes {
        display: block;
        position: absolute;
        top: 30px;
        right: 10px; } }

.site-content {
  padding-left: 0px !important;
  padding-right: 0px !important; }
  .site-content .portada {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-content .portada {
        height: auto;
        padding-top: 40%; } }
    @media screen and (max-height: 700px) {
      .site-content .portada {
        height: auto;
        padding-top: 40%; } }
    .site-content .portada .overlay {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4); }
      @media screen and (max-height: 700px) {
        .site-content .portada .overlay {
          position: fixed; } }
    .site-content .portada .center {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .portada .center {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0); } }
      .site-content .portada .center .titulos {
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 10px; }
      .site-content .portada .center .contenido {
        margin-top: 20px;
        margin-bottom: 40px; }
        .site-content .portada .center .contenido p {
          color: #fff;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          font-size: 22px;
          text-align: center; }
      .site-content .portada .center .more_information {
        border: 1px solid #8AD30B;
        padding: 15px;
        border-radius: 30px;
        width: 40%;
        margin: 0 auto;
        color: #8AD30B;
        text-transform: uppercase;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        letter-spacing: 5px; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .portada .center .more_information {
            width: 100%; } }
        @media screen and (min-width: 641px) and (max-width: 1024px) {
          .site-content .portada .center .more_information {
            width: 60%; } }
    .site-content .portada .down {
      position: absolute;
      bottom: 20px;
      text-align: center;
      width: 100%; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .portada .down {
          display: none; } }
      .site-content .portada .down img {
        width: 30px;
        max-width: 50px;
        min-width: 30px; }
  .site-content .paquetes_home {
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    overflow: hidden;
    background-image: url("img/killarney.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    .site-content .paquetes_home .overlay {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(left, rgba(112, 28, 142, 0.7) 0%, rgba(252, 60, 111, 0.7) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(112, 28, 142, 0.7) 0%, rgba(252, 60, 111, 0.7) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(112, 28, 142, 0.7) 0%, rgba(252, 60, 111, 0.7) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3701c8e', endColorstr='#b3fc3c6f',GradientType=1 );
      /* IE6-9 */ }
    .site-content .paquetes_home .contenedor_info {
      position: inherit; }
      .site-content .paquetes_home .contenedor_info .titulo {
        text-align: left;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 10px; }
      .site-content .paquetes_home .contenedor_info .divisor {
        position: absolute;
        height: 3px;
        background-color: #fff;
        width: 2%;
        z-index: 999; }
      .site-content .paquetes_home .contenedor_info .paquete {
        margin-top: 40px; }
        @media screen and (min-width: 1024px) and (max-width: 1200px) {
          .site-content .paquetes_home .contenedor_info .paquete {
            width: 50% !important; } }
        .site-content .paquetes_home .contenedor_info .paquete .imgpaguete {
          width: 300px;
          height: 300px;
          margin: 0 auto;
          border-radius: 50%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          border: 2px solid #fff; }
        .site-content .paquetes_home .contenedor_info .paquete .titulo_paquetes {
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          text-transform: uppercase;
          color: #fff;
          margin-top: 30px;
          letter-spacing: 10px; }
  .site-content .paquetesmasinfo {
    background-color: #FF365F;
    padding: 40px;
    height: auto;
    overflow: hidden; }
    .site-content .paquetesmasinfo .btnmore {
      border: 1px solid #fff;
      border-radius: 30px;
      padding: 10px;
      width: 20%;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 5px; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .paquetesmasinfo .btnmore {
          width: 100%; } }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        .site-content .paquetesmasinfo .btnmore {
          width: 60%; } }
  .site-content .productos_home {
    background-color: #fff;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    overflow: hidden; }
    .site-content .productos_home .titulo {
      text-align: left;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      letter-spacing: 10px; }
    .site-content .productos_home .divisor {
      position: absolute;
      height: 3px;
      background-color: #8AD30B;
      width: 2%;
      z-index: 999; }
    .site-content .productos_home .contenido {
      width: 100%;
      height: 100%;
      margin-top: 40px;
      margin-bottom: 40px; }
      .site-content .productos_home .contenido .item {
        /*&.visible{
           float: left;
           padding-left: .9375rem;
           padding-right: .9375rem;
         }
        &.invisible{
          width: 19%;
          display: none;
          padding-left: .9375rem;
          padding-right: .9375rem;
        }
        &.left1{
          left: 50%;
          transform: translateX(-250%);
          -webkit-transform: translateX(-250%);
          -ms-transform: translateX(-250%);
          opacity: 0.5;
        }
        &.left2{
          left: 50%;
          transform: translateX(-150%);
          -webkit-transform: translateX(-150%);
          -ms-transform: translateX(-150%);
          opacity: 0.5;
        }
        &.center{
          left: 50%;
          transform: translateX(-50%);
        }
        &.right1{
          left: 50%;
          transform: translateX(50%);
          -webkit-transform: translateX(50%);
          -ms-transform: translateX(50%);
          opacity: 0.5;
        }
        &.right2{
          left: 50%;
          transform: translateX(150%);
          -webkit-transform: translateX(150%);
          -ms-transform: translateX(150%);
          opacity: 0.5;
        }*/ }
        .site-content .productos_home .contenido .item .portada_producto {
          background-position: center center;
          background-repeat: no-repeat;
          width: 300px;
          height: 500px;
          margin: 0 auto; }
        .site-content .productos_home .contenido .item .titulo_shot {
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          text-align: center; }
        .site-content .productos_home .contenido .item p {
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          text-align: center;
          font-size: 20px; }
      .site-content .productos_home .contenido .navleft {
        position: absolute;
        left: 10%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      .site-content .productos_home .contenido .navright {
        position: absolute;
        right: 10%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
  .site-content .galeria_home {
    height: auto;
    overflow: hidden;
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background: #197d00;
    /* Old browsers */
    background: -moz-linear-gradient(left, #197d00 0%, #8ad30b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #197d00 0%, #8ad30b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #197d00 0%, #8ad30b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#197d00', endColorstr='#8ad30b',GradientType=1 );
    /* IE6-9 */ }
    .site-content .galeria_home .titulo {
      text-align: left;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 10px; }
    .site-content .galeria_home .divisor {
      position: absolute;
      height: 3px;
      background-color: #8AD30B;
      width: 2%;
      z-index: 999; }
    .site-content .galeria_home .contenido {
      margin-top: 40px;
      margin-bottom: 40px;
      height: 100%;
      overflow: hidden; }
      .site-content .galeria_home .contenido ::-webkit-scrollbar {
        width: 5px;
        background: #ddd; }
      .site-content .galeria_home .contenido ::-webkit-scrollbar-thumb {
        background: #444;
        cursor: pointer; }
      .site-content .galeria_home .contenido ::-webkit-scrollbar-thumb:hover {
        background: rgba(150, 150, 150, 0.8);
        cursor: pointer; }
      .site-content .galeria_home .contenido .contenedor_gal {
        height: 100vh;
        overflow-y: scroll; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .galeria_home .contenido .contenedor_gal {
            height: auto;
            overflow: hidden; } }
        .site-content .galeria_home .contenido .contenedor_gal .itemgal {
          position: relative; }
          .site-content .galeria_home .contenido .contenedor_gal .itemgal .imggaleria {
            height: 300px;
            margin-bottom: 30px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center; }
      .site-content .galeria_home .contenido .imggrande {
        height: 100vh;
        background-size: cover !important;
        background-position: center center !important;
        background-repeat: no-repeat !important; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .galeria_home .contenido .imggrande {
            display: none; } }
  .site-content .contacto_home .info_contactohome {
    position: relative;
    background-color: #000000;
    height: 700px; }
    .site-content .contacto_home .info_contactohome .titulo {
      text-align: left;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      padding-left: 9%;
      padding-top: 5%;
      letter-spacing: 10px; }
    .site-content .contacto_home .info_contactohome .divisor {
      position: absolute;
      height: 3px;
      background-color: #fff;
      width: 3%;
      z-index: 999;
      margin-left: 9%; }
    .site-content .contacto_home .info_contactohome .btnbotoncontactohome {
      border: 1px solid #fff;
      padding: 15px;
      border-radius: 30px;
      width: 40%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #fff;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 5px; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .contacto_home .info_contactohome .btnbotoncontactohome {
          width: 90%; } }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        .site-content .contacto_home .info_contactohome .btnbotoncontactohome {
          width: 60%; } }
  .site-content .contacto_home .mapacontacto {
    height: 700px; }
  .site-content .ordenashots {
    background-image: url("img/fondoki.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 5%;
    position: relative;
    height: auto;
    overflow: hidden; }
    .site-content .ordenashots .overlay {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4); }
    .site-content .ordenashots .titulo {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: inherit;
      letter-spacing: 10px; }
    .site-content .ordenashots .btnordenatusshots {
      border: 2px solid #8AD30B;
      width: 30%;
      margin: 0 auto;
      text-align: center;
      position: inherit;
      padding: 15px;
      border-radius: 30px;
      margin-top: 20px;
      position: inherit;
      color: #fff;
      text-transform: uppercase;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 5px; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .ordenashots .btnordenatusshots {
          width: 100%; } }
  .site-content .nosotros {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    padding: 7%; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-content .nosotros {
        height: auto;
        padding-top: 40%; } }
    @media screen and (max-height: 700px) {
      .site-content .nosotros {
        height: auto;
        overflow: hidden; } }
    .site-content .nosotros .overlay {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#701c8e+0,fc3c6f+100&0.5+0,0.5+100 */
      background: -moz-linear-gradient(left, rgba(112, 28, 142, 0.7) 0%, rgba(252, 60, 111, 0.7) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(112, 28, 142, 0.7) 0%, rgba(252, 60, 111, 0.7) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(112, 28, 142, 0.7) 0%, rgba(252, 60, 111, 0.7) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80701c8e', endColorstr='#80fc3c6f',GradientType=1 );
      /* IE6-9 */ }
    .site-content .nosotros .titulo {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: inherit;
      letter-spacing: 10px; }
    .site-content .nosotros .contenido {
      position: inherit;
      -webkit-column-count: 2;
      /* Chrome, Safari, Opera */
      -moz-column-count: 2;
      /* Firefox */
      column-count: 2;
      -webkit-column-gap: 100px;
      /* Chrome, Safari, Opera */
      -moz-column-gap: 100px;
      /* Firefox */
      column-gap: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 80%; }
      @media screen and (min-width: 320px) and (max-width: 1024px) {
        .site-content .nosotros .contenido {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          width: 100%; } }
      @media screen and (max-height: 700px) {
        .site-content .nosotros .contenido {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          width: 100%; } }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .nosotros .contenido {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          width: 100%;
          -webkit-column-count: 1;
          /* Chrome, Safari, Opera */
          -moz-column-count: 1;
          /* Firefox */
          column-count: 1;
          -webkit-column-gap: 0px;
          /* Chrome, Safari, Opera */
          -moz-column-gap: 0px;
          /* Firefox */
          column-gap: 0px; } }
      @media screen and (max-height: 700px) {
        .site-content .nosotros .contenido {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          width: 100%; } }
      .site-content .nosotros .contenido p {
        color: #fff;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        font-weight: 400; }
  .site-content .paquetes {
    height: auto;
    position: relative;
    padding: 7%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-content .paquetes {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 40%;
        padding-bottom: 20%; } }
    .site-content .paquetes .overlay {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(left, rgba(138, 211, 11, 0.7) 0%, rgba(138, 211, 11, 0.7) 1%, rgba(25, 125, 0, 0.7) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(138, 211, 11, 0.7) 0%, rgba(138, 211, 11, 0.7) 1%, rgba(25, 125, 0, 0.7) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(138, 211, 11, 0.7) 0%, rgba(138, 211, 11, 0.7) 1%, rgba(25, 125, 0, 0.7) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b38ad30b', endColorstr='#b3197d00', GradientType=1);
      /* IE6-9 */ }
    .site-content .paquetes .carrusel_paquetes .titulo_paquetes {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: inherit;
      letter-spacing: 10px;
      margin-bottom: 5%; }
    .site-content .paquetes .carrusel_paquetes .imgpaguete {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 300px;
      width: 80%;
      margin: 0 auto; }
    .site-content .paquetes .carrusel_paquetes .descripcion {
      padding-top: 5%;
      padding-bottom: 5%;
      margin: 0 auto;
      width: 80%; }
      .site-content .paquetes .carrusel_paquetes .descripcion p {
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #fff; }
    .site-content .paquetes .carrusel_paquetes .btn_solicitar {
      border-radius: 30px;
      border: 1px solid #fff;
      width: 20%;
      margin: 0 auto;
      text-align: center;
      padding: 15px;
      color: #fff;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      letter-spacing: 10px;
      text-transform: uppercase;
      font-size: 18px; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .paquetes .carrusel_paquetes .btn_solicitar {
          width: 90% !important;
          margin-bottom: 10px; } }
      @media screen and (min-width: 641px) and (max-width: 1024px) {
        .site-content .paquetes .carrusel_paquetes .btn_solicitar {
          width: 60%;
          margin-bottom: 10px; } }
    .site-content .paquetes .owl-prev {
      background-color: transparent !important;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%); }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .paquetes .owl-prev {
          display: none !important; } }
      .site-content .paquetes .owl-prev .prev {
        background-image: url("img/arrowleft.png");
        width: 50px;
        height: 50px; }
    .site-content .paquetes .owl-next {
      background-color: transparent !important;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%); }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .paquetes .owl-next {
          display: none !important; } }
      .site-content .paquetes .owl-next .next {
        background-image: url("img/arrowright.png");
        width: 50px;
        height: 50px; }
  .site-content .contacto {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    padding: 7%; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-content .contacto {
        height: auto;
        overflow: hidden; } }
    @media screen and (max-height: 700px) {
      .site-content .contacto {
        height: auto;
        overflow: hidden; } }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-content .contacto {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 40%;
        padding-bottom: 20%; } }
    .site-content .contacto .overlay {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4); }
    .site-content .contacto .titulo {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: inherit;
      letter-spacing: 10px; }
    .site-content .contacto .contenido {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin-top: 40px;
      width: 80%; }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .contacto .contenido {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          width: 100%; } }
      @media screen and (max-height: 700px) {
        .site-content .contacto .contenido {
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          width: 100%; } }
      .site-content .contacto .contenido .datos_contacto h3 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #fff; }
      .site-content .contacto .contenido .datos_contacto p {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #fff; }
      .site-content .contacto .contenido .datos_contacto #pony {
        height: 200px; }
      .site-content .contacto .contenido .form_contacto br {
        display: none; }
      .site-content .contacto .contenido .form_contacto label {
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase; }
      .site-content .contacto .contenido .form_contacto .wpcf7-submit {
        background-color: transparent;
        border: 2px solid #fff;
        padding: 10px;
        color: #fff;
        text-transform: uppercase;
        width: 40%;
        border-radius: 30px; }
  .site-content .productos {
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 7%;
    background-color: #E7E7E7; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-content .productos {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 40%;
        padding-bottom: 20%;
        height: auto; } }
    @media screen and (max-height: 700px) {
      .site-content .productos {
        height: auto;
        overflow: hidden; } }
    .site-content .productos .titulo {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      text-align: center;
      position: inherit;
      letter-spacing: 10px; }
    .site-content .productos .contenido {
      margin-top: 40px;
      margin-bottom: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 70%; }
      @media screen and (min-width: 640px) and (max-width: 1024px) {
        .site-content .productos .contenido {
          width: 100%; } }
      @media screen and (max-height: 700px) {
        .site-content .productos .contenido {
          width: 100%;
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0); } }
      @media screen and (min-width: 320px) and (max-width: 640px) {
        .site-content .productos .contenido {
          width: 100%;
          position: relative;
          top: 0;
          left: 0;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0); } }
      .site-content .productos .contenido .shots .portada {
        border-radius: 50%;
        border: 10px solid rgba(0, 0, 0, 0.5);
        width: 300px;
        height: 300px;
        margin: 0 auto;
        position: relative; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .productos .contenido .shots .portada {
            padding-top: 0px; } }
        @media screen and (max-height: 700px) {
          .site-content .productos .contenido .shots .portada {
            padding-top: 0px; } }
        .site-content .productos .contenido .shots .portada img {
          border-radius: 50%;
          border: 5px solid #009245;
          width: 300px;
          height: 280px; }
        .site-content .productos .contenido .shots .portada p {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          margin-top: 0px;
          color: #fff;
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          font-size: 22px;
          text-transform: uppercase;
          width: 100%; }
      .site-content .productos .contenido .shots p {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #000;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 40px; }
      .site-content .productos .contenido .jelly_shots .portada {
        border-radius: 50%;
        border: 10px solid rgba(0, 0, 0, 0.5);
        width: 300px;
        height: 300px;
        margin: 0 auto;
        position: relative; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .productos .contenido .jelly_shots .portada {
            padding-top: 0px; } }
        @media screen and (max-height: 700px) {
          .site-content .productos .contenido .jelly_shots .portada {
            padding-top: 0px; } }
        .site-content .productos .contenido .jelly_shots .portada img {
          border-radius: 50%;
          border: 5px solid #009245;
          width: 300px;
          height: 280px; }
        .site-content .productos .contenido .jelly_shots .portada p {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          margin-top: 0px;
          color: #fff;
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          font-size: 22px;
          text-transform: uppercase;
          width: 100%; }
      .site-content .productos .contenido .jelly_shots p {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #000;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 40px; }
      .site-content .productos .contenido .solicitar {
        border: 1px solid #FF365F;
        border-radius: 30px;
        padding: 15px;
        width: 40%;
        margin: 0 auto;
        text-align: center;
        margin-top: 40px;
        color: #FF365F;
        text-transform: uppercase;
        font-size: 20px; }
  .site-content .galeria {
    height: auto;
    overflow: hidden;
    position: relative;
    padding: 7%;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 10%;
    padding-right: 10%; }
    @media screen and (min-width: 320px) and (max-width: 640px) {
      .site-content .galeria {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 40%;
        padding-bottom: 0px; } }
    .site-content .galeria .titulo {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      text-align: center;
      position: inherit;
      letter-spacing: 10px; }
    .site-content .galeria .contenido {
      margin-top: 40px;
      margin-bottom: 40px;
      height: 100%;
      overflow: hidden; }
      .site-content .galeria .contenido ::-webkit-scrollbar {
        width: 5px;
        background: #ddd; }
      .site-content .galeria .contenido ::-webkit-scrollbar-thumb {
        background: #444;
        cursor: pointer; }
      .site-content .galeria .contenido ::-webkit-scrollbar-thumb:hover {
        background: rgba(150, 150, 150, 0.8);
        cursor: pointer; }
      .site-content .galeria .contenido .imggrande {
        height: 100vh;
        background-size: cover !important;
        background-position: center center !important;
        background-repeat: no-repeat !important; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .galeria .contenido .imggrande {
            display: none; } }
      .site-content .galeria .contenido .contenedor_gal {
        height: 100vh;
        overflow-y: scroll; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .galeria .contenido .contenedor_gal {
            height: auto;
            overflow: hidden;
            width: 100%; } }
        .site-content .galeria .contenido .contenedor_gal .itemgal {
          position: relative; }
          .site-content .galeria .contenido .contenedor_gal .itemgal.activo .overlay {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(left, rgba(138, 211, 11, 0.7) 0%, rgba(138, 211, 11, 0.7) 1%, rgba(25, 125, 0, 0.7) 100%);
            background: -webkit-linear-gradient(left, rgba(138, 211, 11, 0.7) 0%, rgba(138, 211, 11, 0.7) 1%, rgba(25, 125, 0, 0.7) 100%);
            background: linear-gradient(to right, rgba(138, 211, 11, 0.7) 0%, rgba(138, 211, 11, 0.7) 1%, rgba(25, 125, 0, 0.7) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b38ad30b', endColorstr='#b3197d00', GradientType=1); }
          .site-content .galeria .contenido .contenedor_gal .itemgal .imggaleria {
            height: 300px;
            margin-bottom: 30px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center; }
  .site-content .shot {
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 7%;
    background-color: #E7E7E7; }
    .site-content .shot .imgportda {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 300px;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 40px; }
    .site-content .shot .titulo {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      text-align: center;
      position: inherit;
      letter-spacing: 10px; }
    .site-content .shot .contenido {
      position: inherit;
      width: 80%;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin-top: 40px; }
      .site-content .shot .contenido p {
        color: #000;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%; }
      .site-content .shot .contenido .btn_solicitar {
        border-radius: 30px;
        border: 1px solid #FF365F;
        width: 20%;
        margin: 0 auto;
        text-align: center;
        padding: 15px;
        color: #FF365F;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 40px; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .shot .contenido .btn_solicitar {
            width: 90% !important; } }
  .site-content .jellyshot {
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 7%;
    background-color: #E7E7E7; }
    .site-content .jellyshot .imgportda {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 300px;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 40px; }
    .site-content .jellyshot .titulo {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      text-align: center;
      position: inherit;
      letter-spacing: 10px; }
    .site-content .jellyshot .contenido {
      position: inherit;
      width: 80%;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin-top: 40px; }
      .site-content .jellyshot .contenido p {
        color: #000;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%; }
      .site-content .jellyshot .contenido .btn_solicitar {
        border-radius: 30px;
        border: 1px solid #FF365F;
        width: 20%;
        margin: 0 auto;
        text-align: center;
        padding: 15px;
        color: #FF365F;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 40px; }
        @media screen and (min-width: 320px) and (max-width: 640px) {
          .site-content .jellyshot .contenido .btn_solicitar {
            width: 90% !important; } }

.overlay-footer {
  opacity: 0;
  transition: all 200ms ease-in-out; }
  .overlay-footer.activo {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    z-index: 99; }

.site-footer {
  background-color: #1E1E1E;
  padding: 20px; }
  .site-footer p {
    color: #555555;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px; }

/*# sourceMappingURL=style.css.map */
